/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 
   https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
#me_button{
    background-color: transparent;
    border: none;
}

#home_button{
    background-color: transparent;
    border: none;
} 

#add_note_button{
    position: absolute;
    bottom: 5%;
}

#save_note{
    position: absolute;
    bottom: 5%;
    width: auto;
    margin-left: 5%;
}

#note{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    height: 10%;
    text-align: start;
    font-size: 30px;
    width: 90%;
    margin: 1%;
    margin-left: 5%;
}

.show_notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

.notes{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 5%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    /*justify-content: space-around;*/
}

.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.login_box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #4A4E69;
    padding: 5%;
}

body{
  background-color: #22223B;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

#user{
    margin-bottom: 3%;
    border-radius: 50px;
    border: 2px solid #212529;
    background-color: transparent;
    padding: 20px; 
    font-family: monospace;
    width: auto;
    height: auto;    
}
#password{
    border-radius: 50px;
    border: 2px solid #212529;
    background-color: transparent;
    padding: 20px; 
    font-family: monospace;
    width: auto;
    height: auto;    
}
#login_button {
    margin-top: 10%;
    border: 2px solid #212529;
    background-color: transparent;
    border-radius: 50px;
    font-size: 20px;
    font-family: monospace;
    padding: 5%;
}